<!DOCTYPE html>
<html lang="zxx" class="no-js">
	<% include /partials/head %>

	<body>
		<% include /partials/header %>

		<!-- start banner Area -->
		<section class="banner-area relative" id="home">
			<div class="overlay overlay-bg"></div>
			<div class="container">
				<div class="row d-flex align-items-center justify-content-center">
					<div class="about-content col-lg-12">
						<h1 class="text-white">
							<%= data.servico.servico %>
						</h1>
						<p class="text-white link-nav">
							<a href="/servicos">Serviços </a>
							<span class="lnr lnr-arrow-right"></span>
							<a href="<%=data.servico.slug%>"> <%= data.servico.servico%></a>
						</p>
					</div>
				</div>
			</div>
		</section>
		<!-- End banner Area -->

		<!-- Start price Area -->
		<section class="price-area section-gap price-page-prices" id="price">
			<div class="container">
				<div class="section-top-border">
					<div class="price-top">
                        <h2><%= data.servico.servico %></h2>
                        <p></p>
					</div>
					<blockquote class="generic-blockquote">
						<%- data.servico.descricao.completa %>
					</blockquote>

					<div class="section-top-border">
                        <h3>Galeria</h3>
						<div class="row gallery-item">
							<% data.servico.imagens.forEach((imagem) => { %>

							<div class="col-md-4">
								<a href="<%= imagem.url %>" class="img-pop-up"
									><div
										class="single-gallery-image"
										style="background: url(<%= imagem.url %>);"
									></div
								></a>
							</div>

							<% }) %>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End price Area -->

		<!-- Start fact Area -->
		<section class="facts-area section-gap" id="facts-area">
			<div class="container">
				<div class="row">
					<div class="col single-fact">
						<h1 class="counter">2536</h1>
						<p>Projects Completed</p>
					</div>
					<div class="col single-fact">
						<h1 class="counter">6784</h1>
						<p>Really Happy Clients</p>
					</div>
					<div class="col single-fact">
						<h1 class="counter">1059</h1>
						<p>Total Tasks Completed</p>
					</div>
					<div class="col single-fact">
						<h1 class="counter">2239</h1>
						<p>Cups of Coffee Taken</p>
					</div>
					<div class="col single-fact">
						<h1 class="counter">435</h1>
						<p>In House Professionals</p>
					</div>
				</div>
			</div>
		</section>
		<!-- end fact Area -->

		<!-- start footer Area -->
		<% include /partials/footer %>
		<!-- End footer Area -->

		<% include /partials/scripts %>
	</body>
</html>
